﻿@model IEnumerable<DTO.Rancheria.ClsCultivo>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRaancheria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSiembra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ancho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRaancheria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSiembra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ancho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
