﻿@model IEnumerable<DTO.Rancheria.ClsCultivo>

    @{
        ViewBag.Title = "Ir";
    }

    @{
        Layout = "";
    }


    @using Guajira.Seguridad
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- App Favicon -->
        <link rel="shortcut icon" href="../Content/assets/images/favicon-sirgo.ico">

        <!-- App title -->
        <title>Sirgo</title>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlLIGv6f0ZB1q5vZkyHfGb_6c5tye2AN0&callback=initMap"
                type="text/javascript"></script>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/estilosIndex")
        @Scripts.Render("~/bundles/modernizrIndex")
        <script src="../../Scripts/cultivo.js" type="text/javascript"></script>
        <script src="../../Scripts/addCultivo.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
        <script type="text/javascript">

            webshims.setOptions('forms-ext', { types: 'date' });
            webshims.polyfill('forms forms-ext');


            function goToAnimation(id) {
                //    alert("hello " + id);
                $.ajax({
                    url: '/Cultivo/recibirIdCultivo',
                    type: "POST",
                    data: { idCultivo: id },
                    success: function (html) {
                        window.location.href = "../../Cultivo/Panel";
                        /**
                        if(html==='True')
                        {
                            alert("Ir otra pestaña");
                        }else
                        {
                            alert("Error");
                        }
                        **/

                    },
                    error: function () {
                        alert('error');
                    }

                });
            }
            
            
            function BorrarCultivo(id) {
                $.ajax({
                    url: '/Cultivo/BorrarCultivo',
                    type: "POST",
                    data: { idCultivo: id },
                    success: function (html) {
                       
                        
                    },
                    error: function () {
                        alert('error');
                    }

                });

            }
        </script>

    </head>



    <body class="fixed-left">
        @if (!string.IsNullOrEmpty(Sesion.Usuario))
        {


            <!-- Begin page -->
            <div id="wrapper">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="" class="logo">
                            <span>Sirg</span>
                            <img src="../../Content/assets/images/gallery/gota-logo.png" style="margin-left: -8px;">
                        </a>
                    </div>


                    <nav class="navbar navbar-custom">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <button class="button-menu-mobile open-left waves-light waves-effect">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav pull-right">
                            





                            <li class="nav-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="../../Content/assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small>Bienvenido @Sesion.Usuario.ToUpper()</small> </h5>
                                    </div>

                                    <!-- item-->
                                    <!-- item-->
                                    <a href="@Url.Action("CerrarSesion","Usuario")" class="dropdown-item notify-item">
                                        <i class="zmdi zmdi-power"></i> <span>Cerrar sesión</span>
                                    </a>

                                </div>
                            </li>

                        </ul>

                    </nav>

                </div>
                <!-- Top Bar End -->
                <!-- ========== Left Sidebar Start ========== -->


                <div class="left side-menu">
                    <div class="sidebar-inner slimscrollleft">

                        <img src="../../Content/assets/images/gallery/mano.png" style="width: 100%;">

                        <!-- Sidebar -->
                        <div class="clearfix"></div>

                    </div>

                </div>
                <!-- Left Sidebar End -->
                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="content-page">
                    <!-- Start content -->
                    <div class="content">
                        <div class="container">
                            @foreach (var item in Model)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="page-title-box">
                                            <h4 class="page-title">Rancheria: @Html.DisplayFor(modelItem => item.nombre_rancheria)</h4>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                        <!-- end row -->
                                break;
                            }

                            <div class="row">



                                @foreach (var item in Model)
                                {


                                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                        <div class="card-box tilebox-one">
                                            <i class="icon-drop pull-xs-right text-muted"></i>
                                            <h6 class="text-muted text-uppercase m-b-20">Cultivo @Html.DisplayFor(modelItem => item.id) </h6>
                                            <strong style="float: left;">Ancho: </strong><h4 class="m-b-20" data-plugin="counterup"> @Html.DisplayFor(modelItem => item.ancho) </h4>
                                            <strong style="float: left;">Alto: </strong> <h4 class="m-b-20" data-plugin="counterup"> @Html.DisplayFor(modelItem => item.alto)</h4>
                                            <strong style="float: left;">Fecha de siembra </strong> <h4 class="m-b-20"> @Html.DisplayFor(modelItem => item.fechaSiembra) </h4>

                                            <span class="label label-success"> +11% </span> <span class="text-muted">crecimiento</span>

                                            <div class="button-list row">
                                                @* href="../../Cultivo/Panel*@
                                                <a class="btn btn-success waves-effect waves-light" onclick="goToAnimation(@item.id);">
                                                    <i class="fa fa-eye"></i>
                                                </a>


                                                <a class="btn waves-effect waves-light btn-danger" href="../BorrarCultivo/@item.id">

                                                    <i class="fa fa-remove"></i>
                                                </a>

                                            </div>

                                        </div>
                                    </div>


                                }





                                @*<a class="btn btn-default" href="@Url.Action("Crear","Cultivo", new {Model.FirstOrDefault().idRaancheria })">
                                        Agregar Cultivo
                                    </a>*@





                            </div>

                            <div class="button-list row">

                                <a class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10" href="../Listar"><span class='btn-label'><i class='fa fa fa-arrow-left'></i></span> Volver al listado </a>

                                <a href="#custom-modal" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10" data-animation="push" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">
                                    <span class="btn-label">
                                        <i class="fa  fa-plus"></i>
                                    </span>
                                    Añadir
                                </a>


                            </div>
                            <!-- end row -->
                            <!-- Modal creacion de cultivo-->

                            <div id="custom-modal" class="modal-demo">
                                <button type="button" class="close" onclick="Custombox.close();">
                                    <span>&times;</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="custom-modal-title">Crear Cultivo</h4>
                                <div class="custom-modal-text">

                                    <p class="text-muted m-b-20 font-13">
                                        Menu de creacion de cultivo, rellene todas las opciones.
                                    </p>

                                    <ul class="nav nav-tabs m-b-10" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link disabled" id="terreno-tab" data-toggle="tab" href="#terreno"
                                               role="tab" aria-controls="terreno" aria-expanded="true">Terreno</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link disabled" id="tanque-tab" data-toggle="tab" href="#tanque"
                                               role="tab" aria-controls="tanque">tanque</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" id="linea-tab" data-toggle="tab" href="#linea"
                                               role="tab" aria-controls="linea">Linea de suministro</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" id="cultivo-tab" data-toggle="tab" href="#cultivo"
                                               role="tab" aria-controls="cultivo">Planta</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div role="tabpanel" class="tab-pane fade in active" id="terreno"
                                             aria-labelledby="terreno-tab">

                                            <div class=row>

                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">
                                                    <img src="../../Content/assets/images/gallery/terreno.png">
                                                </div>

                                                <div class="col-xs-8 col-lg-8 col-md-8 col-xl-8">
                                                    <fieldset class="form-group">
                                                        <label for="ancho">Ancho del terreno</label>
                                                        <input class="form-control" id="ancho" placeholder="Ancho" type="number">
                                                        <small class="text-muted">
                                                            Ingrese ancho en metros del terreno.
                                                        </small>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label for="alto">Alto del terreno</label>
                                                        <input class="form-control" id="alto" placeholder="Alto" type="number">
                                                        <small class="text-muted">
                                                            Ingrese alto en metros del terreno.
                                                        </small>
                                                    </fieldset>

                                                    <fieldset class="form-group">
                                                        <label for="fecha">Fecha de Creación</label>
                                                        <input class="form-control" id="fecha" placeholder="fecha" type="date">
                                                        <small class="text-muted">
                                                            Ingrese la fecha de creacion.
                                                        </small>
                                                    </fieldset>

                                                    <div id="siguiente1">
                                                        <a onclick="crearTerreno()" data-toggle="tab" role="tab" href="#tanque" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10 disabled">
                                                            <span class="btn-label">
                                                                <i class="fa  fa-arrow-right"></i>
                                                            </span>
                                                            Siguiente
                                                        </a>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="tanque" role="tabpanel"
                                             aria-labelledby="tanque-tab">
                                            <div class=row>

                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">
                                                    <img src="../../Content/assets/images/gallery/tanque.png">
                                                </div>

                                                <div class="col-xs-8 col-lg-8 col-md-8 col-xl-8">
                                                    <fieldset class="form-group">
                                                        <label for="cantidad_tanque">Cantidad</label>
                                                        <input class="form-control" id="cantidad_tanque" placeholder="cantidad" type="number">
                                                        <small class="text-muted">
                                                            Ingrese la cantidad de tanques a crear.
                                                        </small>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label for="capacidad_tanque">Capacidad</label>
                                                        <input class="form-control" id="capacidad_tanque" placeholder="capacidad en litros" type="number">
                                                        <small class="text-muted">
                                                            Ingrese la capacidad en litros que tendran los tanques.
                                                        </small>
                                                    </fieldset>

                                                    <div class="checkbox checkbox-primary">
                                                        <input id="motortanque" type="checkbox">
                                                        <label for="motortanque">
                                                            Moto Bomba
                                                        </label>
                                                    </div>

                                                    <div id="siguiente2">
                                                        <a data-toggle="tab" role="tab" href="#linea" onclick="crearTanque()" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10 disabled">
                                                            <span class="btn-label">
                                                                <i class="fa fa-arrow-right"></i>
                                                            </span>
                                                            Siguiente
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="linea" role="tabpanel"
                                             aria-labelledby="linea-tab">
                                            <fieldset class="form-group">
                                                <label for="lineas_riego">Diametro</label>
                                                <input class="form-control" id="lineas_riego" placeholder="centimetros cubicos" type="number">
                                                <small class="text-muted">
                                                    Ingrese el diametro (cm<sup>3</sup>/min) de las lineas de suministro.
                                                </small>
                                            </fieldset>
                                            <div id="siguiente3">
                                                <a data-toggle="tab" role="tab" href="#cultivo" onclick="crearLineas()" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10 disabled">
                                                    <span class="btn-label">
                                                        <i class="fa  fa-arrow-right"></i>
                                                    </span>
                                                    Siguiente
                                                </a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="cultivo" role="tabpanel"
                                             aria-labelledby="cultivo-tab">
                                            <fieldset class="form-group">
                                                <label for="cultivoseleccionado">Planta</label>
                                                <select name="cultivo3" class="form-control" id="cultivoseleccionado">
                                                    <option value="2"></option>
                                                    <option value="0">Papa</option>
                                                    <option value="1">Tomate</option>
                                                </select>
                                            </fieldset>

                                            <div class=row>


                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">

                                                </div>
                                                <div id="imgCultivo" class="col-xs-4 col-lg-4 col-md-4 col-xl-4">

                                                </div>
                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">

                                                </div>


                                            </div>
                                            <div id="btncrear">
                                                <a onclick="crearPlanta()" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10 ">
                                                    <span class="btn-label">
                                                        <i class="fa  fa-plus"></i>
                                                    </span>
                                                    Crear
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div> <!-- container -->

                    </div> <!-- content -->



                </div>
                <!-- End content-page -->
                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->




                <footer class="footer text-right">
                    &copy; @DateTime.Now.Year - Sirgo.
                </footer>


            </div>
        <!-- END wrapper -->


            <script>
                var resizefunc = [];
            </script>




        }
        else
        {
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer class="text-center">
                    <p>&copy; @DateTime.Now.Year - U Caldas</p>
                </footer>
            </div>
        }

        @Scripts.Render("~/bundles/ScriptsIndex")




    </body>
</html>







