﻿@model IEnumerable<DTO.Rancheria.ClsRancheria>

@{
    ViewBag.Title = "Listar";
}

@{
    Layout = "";
}

@using Guajira.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- App Favicon -->
    <link rel="shortcut icon" href="../Content/assets/images/favicon-sirgo.ico">

    <!-- App title -->
    <title>Sirgo</title>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlLIGv6f0ZB1q5vZkyHfGb_6c5tye2AN0&callback=initMap"
            type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/estilosIndex")
    @Scripts.Render("~/bundles/modernizrIndex")
</head>



<body class="fixed-left">
    @if (!string.IsNullOrEmpty(Sesion.Usuario))
    {


            <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="" class="logo">
                        <span>Sirg</span>
                        <img src="../Content/assets/images/gallery/gota-logo.png" style="margin-left: -8px;">
                    </a>
                </div>


                <nav class="navbar navbar-custom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav pull-right">
           


                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../Content/assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>Bienvenido @Sesion.Usuario.ToUpper()</small> </h5>
                                </div>

                                


                                <!-- item-->
                                <a href="@Url.Action("CerrarSesion","Usuario")" class="dropdown-item notify-item">
                                    <i class="zmdi zmdi-power"></i> <span>Cerrar sesión
                                    
                                    </span>
                                </a>

                            </div>
                        </li>

                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->


            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <img src="../Content/assets/images/gallery/mano.png" style="width: 100%;">

                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Mis Rancherias </h4>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">

                            <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.nombre)</th>
                                            <th>Ver</th>
                                            <th>Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.nombre)
                                                </td>

                                                <td>

                                                    <a class="btn waves-effect waves-light btn-success" href="Ir/@item.id">
                                                        <i class="fa fa-eye"></i>
                                                    </a>

                                                </td>

                                                <td>
                                                    <a class="btn btn-danger  waves-effect waves-light m-r-5 m-b-10" href="Borrar/@item.id">
                                                        <i class="fa fa-remove"></i>
                                                    </a>


                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>

                                <div class="button-list">

                                    <a class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10" href="Crear"><span class='btn-label'><i class='fa  fa-plus'></i></span> Crear Nueva </a>



                                </div>


                            </div>

                            <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6">

                                <div id="map" style="width: 100%; height: 400px;"></div>

                            </div>

                            
                          

                            <script type="text/javascript">

                                $(document).ready(function () {



                                    var locaciones = [];
                                    $.ajax({
                                        url: '/Rancheria/obtenerLocalizaciones',
                                        type: "POST",
                                        success: function (data) {
                                            var res = data.split(",");
                                            for (i = 0; i < res.length; i++) {
                                                locaciones.push(res[i]);

                                            }
                                            $("#map2").html(data);


                                            var map = new google.maps.Map(document.getElementById('map'), {
                                                zoom: 8,
                                                center: new google.maps.LatLng(11.6, -72.1),
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            });

                                            var infowindow = new google.maps.InfoWindow();

                                            var marker, i;

                                            for (i = 0; i < locaciones.length; i += 3) {
                                                marker = new google.maps.Marker({
                                                    position: new google.maps.LatLng(parseFloat(locaciones[i + 1]), parseFloat(locaciones[i + 2])),
                                                    map: map
                                                });

                                                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                    return function () {
                                                        infowindow.setContent(locaciones[i]);
                                                        infowindow.open(map, marker);
                                                    }
                                                })(marker, i));
                                            }





                                        },
                                        error: function () {
                                            alert('error');
                                        }

                                    });



                                    var locations = [
                                      ['Bondi Beach', -33.890542, 151.274856, 4],
                                      ['Coogee Beach', -33.923036, 151.259052, 5],
                                      ['Cronulla Beach', -34.028249, 151.157507, 3],
                                      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
                                      ['Maroubra Beach', -33.950198, 151.259302, 1]
                                    ];






                                });


                            </script>









                        </div>
                        <!-- end row -->
                        <!-- Modal creacion de cultivo-->








                    </div> <!-- container -->

                </div> <!-- content -->



            </div>
            <!-- End content-page -->
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->




            <footer class="footer text-right">
                &copy; @DateTime.Now.Year - Sirgo.
            </footer>


        </div>
        <!-- END wrapper -->


        <script>
            var resizefunc = [];
        </script>




    }
    else
    {
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - U Caldas</p>
            </footer>
        </div>
    }

    @Scripts.Render("~/bundles/ScriptsIndex")




</body>
</html>
