﻿@using Guajira.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- App Favicon -->
    <link rel="shortcut icon" href="../Content/assets/images/favicon-sirgo.ico">

    <!-- App title -->
    <title>Sirgo</title>

    @Styles.Render("~/Content/estilosIndex")
    @Scripts.Render("~/bundles/modernizrIndex")
</head>



    <body class="fixed-left">
        @if (!string.IsNullOrEmpty(Sesion.Usuario))
        {           
          

            <!-- Begin page -->
            <div id="wrapper">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="" class="logo">                            
                            <span>Sirg</span>
                            <img src="../Content/assets/images/gallery/gota-logo.png" style="margin-left: -8px;">
                        </a>
                    </div>


                    <nav class="navbar navbar-custom">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <button class="button-menu-mobile open-left waves-light waves-effect">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            
                        </ul>

                        <ul class="nav navbar-nav pull-right">
                            <li class="nav-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="zmdi zmdi-notifications-none noti-icon"></i>
                                    <span class="noti-icon-badge"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5><small><span class="label label-danger pull-xs-right">7</span>Notification</small></h5>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="icon-bubble"></i></div>
                                        <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1min ago</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="icon-user"></i></div>
                                        <p class="notify-details">New user registered.<small class="text-muted">1min ago</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="icon-like"></i></div>
                                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1min ago</small></p>
                                    </a>

                                 

                                </div>
                            </li>






                            <li class="nav-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="../Content/assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small>Bienvenido @Sesion.Usuario.ToUpper()</small> </h5>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="zmdi zmdi-account-circle"></i> <span>Perfil</span>
                                    </a>

                                    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="zmdi zmdi-power"></i> <span>Cerrar sesión</span>
                                    </a>

                                </div>
                            </li>

                        </ul>

                    </nav>

                </div>
                <!-- Top Bar End -->
                <!-- ========== Left Sidebar Start ========== -->


                <div class="left side-menu">
                    <div class="sidebar-inner slimscrollleft">

                        <img src="../Content/assets/images/gallery/mano.png" style="width: 100%;">
                        <!--- Sidemenu -->
                        <div id="sidebar-menu" style="display: none;">
                            <p class="text-muted menu-title">Menu</p>
                           
                            <ul>
                                

                                <li class="has_sub">
                                    <a href="" class="waves-effect active"><span class="label label-pill label-primary pull-xs-right">1</span><i class="zmdi zmdi-view-dashboard"></i><span> Tablero </span> </a>
                                </li>

                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-wrench"></i> <span> Mantenimiento </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="">Agregar Nutrientes</a></li>
                                        <li><a href="">Agregar Agua</a></li>
                                        <li><a href="">Coseñar</a></li>
                                        <li><a href="">Limpiar Lineas</a></li>
                                    </ul>
                                </li>


                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Estadisticas </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="">Consumo Nutrientes</a></li>
                                        <li><a href="">Crecimiento</a></li>
                                        <li><a href="">Siembra</a></li>
                                        <li><a href="">Cosecha</a></li>
                                    </ul>
                                </li>




                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Sidebar -->
                        <div class="clearfix"></div>

                    </div>

                </div>
                <!-- Left Sidebar End -->
                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="content-page">
                    <!-- Start content -->
                    <div class="content">
                        <div class="container">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="page-title-box">
                                        <h4 class="page-title">Nombre de la Rancheria </h4>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->


                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card-box tilebox-one">
                                        <i class="icon-drop pull-xs-right text-muted"></i>
                                        <h6 class="text-muted text-uppercase m-b-20">Cultivo 1</h6>
                                        <h2 class="m-b-20" data-plugin="counterup">1,587</h2>
                                        <span class="label label-success"> +11% </span> <span class="text-muted">crecimiento</span>
                                        <div class="checkbox checkbox-danger">
                                            <input id="checkbox-cultivo1" type="checkbox">
                                            <label for="checkbox6">
                                                Eliminar
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card-box tilebox-one">
                                        <i class="icon-drop pull-xs-right text-muted"></i>
                                        <h6 class="text-muted text-uppercase m-b-20">Cultivo 2</h6>
                                        <h2 class="m-b-20" data-plugin="counterup">87</h2>
                                        <span class="label label-success"> +11% </span> <span class="text-muted">crecimiento</span><div class="checkbox checkbox-danger">
                                            <input id="checkbox-cultivo2" type="checkbox">
                                            <label for="checkbox6">
                                                Eliminar
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card-box tilebox-one">
                                        <i class="icon-drop pull-xs-right text-muted"></i>
                                        <h6 class="text-muted text-uppercase m-b-20">Cultivo 3</h6>
                                        <h2 class="m-b-20" data-plugin="counterup">6,587</h2>
                                        <span class="label label-success"> +11% </span> <span class="text-muted">crecimiento</span>
                                        <div class="checkbox checkbox-danger">
                                            <input id="checkbox-cultivo3" type="checkbox">
                                            <label for="checkbox6">
                                                Eliminar
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card-box tilebox-one">
                                        <i class="icon-drop pull-xs-right text-muted"></i>
                                        <h6 class="text-muted text-uppercase m-b-20">Cultivo 4</h6>
                                        <h2 class="m-b-20" data-plugin="counterup">2,317</h2>
                                        <span class="label label-success"> +11% </span> <span class="text-muted">crecimiento</span>
                                        <div class="checkbox checkbox-danger">
                                            <input id="checkbox-cultivo4" type="checkbox">
                                            <label for="checkbox6">
                                                Eliminar
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="button-list">


                                    <a href="#custom-modal" class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10" data-animation="push" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">
                                        <span class="btn-label">
                                            <i class="fa  fa-plus"></i>
                                        </span>
                                        Añadir
                                    </a>

                                    <button type="button" class="btn btn-danger btn-rounded waves-effect waves-light" id="danger-alert">
                                        <span class="btn-label">
                                            <i class="fa fa-times"></i>
                                        </span>Eliminar Cultivo
                                    </button>


                                </div>


                            </div>
                            <!-- end row -->
                            <!-- Modal  creacion de cultivo-->
                            <div id="custom-modal" class="modal-demo">
                                <button type="button" class="close" onclick="Custombox.close();">
                                    <span>&times;</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="custom-modal-title">Crear Cultivo</h4>
                                <div class="custom-modal-text">

                                    <p class="text-muted m-b-20 font-13">
                                        Menu de creacion de cultivo, rellene todas las opciones.
                                    </p>

                                    <ul class="nav nav-tabs m-b-10" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="terreno-tab" data-toggle="tab" href="#terreno"
                                               role="tab" aria-controls="terreno" aria-expanded="true">Terreno</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tanque-tab" data-toggle="tab" href="#tanque"
                                               role="tab" aria-controls="tanque">tanque</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="linea-tab" data-toggle="tab" href="#linea"
                                               role="tab" aria-controls="linea">Linea de riego</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="cultivo-tab" data-toggle="tab" href="#cultivo"
                                               role="tab" aria-controls="cultivo">cultivo</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div role="tabpanel" class="tab-pane fade in active" id="terreno"
                                             aria-labelledby="terreno-tab">

                                            <div class=row>

                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">
                                                    <img src="../Content/assets/images/gallery/terreno.png">
                                                </div>

                                                <div class="col-xs-8 col-lg-8 col-md-8 col-xl-8">
                                                    <fieldset class="form-group">
                                                        <label for="ancho">Ancho del terreno</label>
                                                        <input class="form-control" id="ancho" placeholder="Ancho" type="number">
                                                        <small class="text-muted">
                                                            Ingrese ancho en metros del terreno.
                                                        </small>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label for="alto">Alto del terreno</label>
                                                        <input class="form-control" id="alto" placeholder="Alto" type="number">
                                                        <small class="text-muted">
                                                            Ingrese alto en metros del terreno.
                                                        </small>
                                                    </fieldset>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="tanque" role="tabpanel"
                                             aria-labelledby="tanque-tab">
                                            <div class=row>

                                                <div class="col-xs-4 col-lg-4 col-md-4 col-xl-4">
                                                    <img src="../Content/assets/images/gallery/tanque.png">
                                                </div>

                                                <div class="col-xs-8 col-lg-8 col-md-8 col-xl-8">
                                                    <fieldset class="form-group">
                                                        <label for="capacidad_tanque">Capacidad</label>
                                                        <input class="form-control" id="capacidad_tanque" placeholder="capacidad" type="number">
                                                        <small class="text-muted">
                                                            Ingrese la capacidad que tendra cada tanque.
                                                        </small>
                                                    </fieldset>
                                                    <fieldset class="form-group">
                                                        <label for="cantidad_tanque">Cantidad</label>
                                                        <input class="form-control" id="cantidad_tanque" placeholder="cantidad" type="number">
                                                        <small class="text-muted">
                                                            Ingrese la cantidad de tanques a crear.
                                                        </small>
                                                    </fieldset>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="motortanque" type="checkbox">
                                                        <label for="motortanque">
                                                            Moto Bomba
                                                        </label>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="linea" role="tabpanel"
                                             aria-labelledby="linea-tab">
                                            <fieldset class="form-group">
                                                <label for="lineas_riego">Lineas de riego</label>
                                                <input class="form-control" id="lineas_riego" placeholder="lineas de riego" type="number">
                                                <small class="text-muted">
                                                    Ingrese la cantidad de lineas de riego a crear.
                                                </small>
                                            </fieldset>
                                        </div>
                                        <div class="tab-pane fade" id="cultivo" role="tabpanel"
                                             aria-labelledby="cultivo-tab">
                                            <fieldset class="form-group">
                                                <label for="cultivo_seleccionado">Cultivo</label>
                                                <select class="form-control" id="cultivo_seleccionado">
                                                    <option>Sandia</option>
                                                    <option>Aguacate</option>
                                                    <option>Banana</option>
                                                    <option>Uva</option>
                                                </select>
                                            </fieldset>

                                            <div class=row>

                                                <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
                                                    <img src="../Content/assets/images/gallery/fruto.png">
                                                </div>
                                                <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
                                                    <img src="../Content/assets/images/gallery/fruto2.png">
                                                </div>
                                                <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
                                                    <img src="../Content/assets/images/gallery/fruto3.png">
                                                </div>
                                                <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
                                                    <img src="../Content/assets/images/gallery/fruto4.png">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>








                        </div> <!-- container -->

                    </div> <!-- content -->



                </div>
                <!-- End content-page -->
                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->




                <footer class="footer text-right">
                    &copy; @DateTime.Now.Year - Sirgo.
                </footer>


            </div>
        <!-- END wrapper -->


            <script>
            var resizefunc = [];
            </script>

            @RenderBody()


        }
        else
        {
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer class="text-center">
                    <p>&copy; @DateTime.Now.Year - U Caldas</p>
                </footer>
            </div>
        }

        @Scripts.Render("~/bundles/ScriptsIndex")
        @RenderSection("scripts", required: false)
    </body>
</html>
