﻿@model DTO.Seguridad.ClsUsuario
@{
    ViewBag.Title = "IniciarSesion";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row color-after-inicio">
        <div class="col-lg-10 col-lg-offset-1 my-container">
            <div class="container" style="margin-top:5%;">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2 inciar-sesion-div-logo">
                        <img src="http://localhost:59722/Content/Imagenes/logo.png" class="img-responsive img-rounded center-block" />
                    </div>
                    <div class="col-lg-4 iniciar-sesion-form">
                        <br />
                        <br />
                        @if (ViewBag.Mensaje != null)
            {
                Html.Raw(ViewBag.Mensaje);
            }
                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal text-center">
                                <h4>Acceso a <strong>SIRGO</strong></h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Iniciar Sesion" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>